*.R linguist-language=R
*.css linguist-detectable=false
*.java linguist-detectable=false
*.python linguist-detectable=false 
*.js linguist-detectable=false
*.html linguist-detectable=false  
*.xml linguist-detectable=false 
*.R linguist-language=true
*.tex linguist-language=false
